# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment Variables
.env

# VS Code / Cursor
.vscode/
.cursor/

# Streamlit
.streamlit/secrets.toml

# OS Files
.DS_Store
Thumbs.db
